<!DOCTYPE html>
<html>
<head>
  <title>Active codhab</title>
  <%= stylesheet_link_tag    "active_codhab/application", media: "all" %>
  <%= javascript_include_tag "active_codhab/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
